PORT=3001
RABBITMQ_URL=amqp://admin:admin@localhost:5672
DATABASE_URL=postgres://postgres:postgres@localhost:5432/payment_db

TELEGRAM_TOKEN=coloque aqui o token do bot do Telegram para enviar notificações
TELEGRAM_CHAT_ID=coloque aqui o ID do chat do Telegram para receber notificações